[user]
	name = Xiao Tan
	email = tvytlx@gmail.com
[alias]
    st = status -uno --porcelain
    co = checkout
    adi = add -i
    adu = add -u
    br = branch
    brd = branch -d
    co = checkout
    cob = checkout -b
    com = checkout master
    cod = checkout develop
    di = diff
    dic = diff --cached
    ci = commit
    cim = commit -m
    cia = commit --amend
    l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    mg = merge --no-ff
    mgf = merge
    mgm = merge --no-ff master
    rsh = reset HEAD
    rbi = rebase -i
    rbm = rebase master
    rbd = rebase develop
    rbc = rebase --continue
    chp = cherry-pick
    chpc = cherry-pick --continue
    chpa = cherry-pick --abort
    ps = push
    psf = push -f
    undo = reset HEAD~1 --mixed
    proxy = config --global http.proxy 'socks5://127.0.0.1:1080'
    unproxy = config --global --unset http.proxy
[core]
    pager = "diff-so-fancy | less --tabs=4 -RFX"
    editor = vim
[color]
    ui = true
[color "diff"]
    meta = "yellow"
    frag = "magenta bold"
    commit = "yellow bold"
    old = "red bold"
    new = "green bold"
    whitespace = "red reverse"
[color "diff-highlight"]
    oldNormal = "red bold"
    oldHighlight = "red bold 52"
    newNormal = "green bold"
    newHighlight = "green bold 22"
[push]
    default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
